<p id="notice"><%= notice %></p>

<h1>Listing Sessions</h1>



  <ul>
    <% @sessions.reverse.each do |session| %>
      <li><%= link_to time_ago_in_words(session.created_at), session %>
        <%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>

<%= link_to 'New Session', new_session_path %>
