<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <ul><% @session.users.each do |user| %>
  <li><%= user.first_name %></li>
  <% end %></ul>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
