<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">person</i>
    <input class="form-control" type="email" name="password_reset[email]" id="password_reset_email icon_prefix">
    <label for="icon_prefix" class="">Email</label>
  </div>
 <div class="input-field center-align">
  <a class="waves-effect waves-light su-btn btn-flat submit"><%= submit_tag "Enter" %></a>
 </div>
<% end %>
