// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ms-login.card {
  border-radius: 5px;
  width: 80%;
  color:#aeb0b4;
  margin: 0 auto;
  margin-top: 12%;
}
.ms-login.card .card-title{
   height: 120px;
   background-color: #081729;
}
.ms-login.card .card-title img{
  margin: 0 auto;
}
