// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ms-login{
  height: 100vh;
  // display: table;
}
#ms-login > div{
  // display: table-cell;
  // vertical-align: middle;
  height: 100%;
}
#ms-login .card {
  color:#aeb0b4;
  margin: 0 auto;
  width: 50%;
}
#ms-login .card .card-title{
   height: 120px;
   background-color: #081729;
}
#ms-login .card .card-title img{
  margin: 0 auto;
}
@media only screen and (max-width: 1200px){
  #ms-login .card {
    width: 90%;
  }
}
