// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #sessions-new .card-title,
// #sessions-list .card-title,
// #sessions .card-title{
//   border-bottom: 1px solid rgba(160,160,160,0.2);
// }
// #sessions-new .card-title,
// #sessions-list .card-title{
//   height: 114px;
//
// }
// #sessions .card-title{
//   height: 124px;
// }
// #sessions-new .card-title h1,
// #sessions-list .card-title h1,
// #sessions .card-title h1{
//   margin-top: 10px;
//   margin-bottom: 0px;
// }
#sessions{
  padding-top: 20px;
}
#sessions h6,
#sessions h5{
  text-transform: uppercase;
}
#sessions .card h2{
  padding-top: 5px;
}
#sessions .card h6,
#sessions .card h2,
#sessions .card-title h5{
  color:#b3b3b3!important;
}
#sessions .card-title h1{
  padding-top: 15px;
}
#sessions h5,{
  font-size: 14px!important;
}
#sessions .card-title h5{
  font-size: 14px;
  margin: 15px 0 0 !important;
  line-height: 24px;
}
#sessions .card-title h5 span{
  padding-left: 15px;
  font-size: 24px;
}
#sessions textarea:hover,
#sessions textarea:focus,
#sessions textarea:active{
 background-color: #e6ffff!important;
}
#sessions-new {
  padding-top: 40px;
}
#sessions-new .card{
  max-width: 323px;
 }
#sessions-list .card-content{
  min-height: 350px;
}

#sessions #user-row{
  padding: 0px 15px 20px 10px;
  margin: 10px 0 10px 0!important;
  border-radius: 5px;
}
#sessions .active #user-row{
  background-color: #f0f2f5;
}
#sessions .card .card-content {
    margin: 0px 0 10px 0 !important;
}
#sessions li.session_user{
    border-bottom: 1px dotted #343434;
}
/* Checkboxes
   ========================================================================== */
#sessions-new [type="checkbox"]+label {
  width: 85%;
  padding-left: 0px;
}
#sessions-new [type="checkbox"] + label:before,
#sessions-new [type="checkbox"]:not(.filled-in) + label:after {
  top: 0;
  left: 100%;
}
#sessions-new  [type="checkbox"]:checked+label:before {
    left: 98%;
    border-right: 2px solid #12aaeb!important;
    border-bottom: 2px solid #12aaeb!important;
}
#sessions-new [type="checkbox"]+label {
    font-size: 11.7px;
    text-transform: uppercase;
    font-weight: 700;
    color: #28b2ed;
  }
